<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>
                {% if episodeTitle is defined %}
                    {{ episodeTitle }} -
                {% endif %}
                Piazza umarell
            </title>
            <link rel="stylesheet" type="text/css" href="/assets/css/app.css">

            <script>
                var ENV = {
                    podcast_title : "{{ podcast_title }}",
                    podcast_description : "{{ podcast_description }}",
                    podcast_caption : "{{ podcast_caption }}",

                    routes : {
                        episodes : {
                            all: '/episodes/',
                            page: '/episodes/page/',
                            latest : '/episodes/latest/',
                        }
                    }
                };
            </script>
        {% endblock %}
    </head>
    <body>
        <div id="root">
            {% block content %}
            {% endblock %}
        </div>
        {% block foot %}
            <script src="/assets/js/app.js"></script>
        {% endblock %}
    </body>
</html>