@tailwind preflight;
@tailwind components;

html, body, #app, main {
  margin:0;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.title {
  @apply text-white text-5xl;
  font-family: "Pridi", serif;
}

.subtitle {
  @apply text-white text-4xl;
  font-family: "Cormorant Infant", serif;
}

.content {
  @apply text-white text-base;
  font-family: "Heebo", serif;
}

.aplayer .aplayer-body .aplayer-info .aplayer-music {
    @apply flex flex-col;

    > * {
        @apply mb-1;
    }
}

.episode-detail article .content-wrapper .description a, a:active, a:hover {
    @apply text-white font-bold no-underline;
}

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Heebo|Pridi|Cormorant+Infant');